$imagePath: "/images/";

$SIZE_TABLET: 768px;
$SIZE_MOBILE: 600px;

//colors
$COLOR-WHITE: #b7b8bf;
$COLOR-WHITE-WHITE: #dedede;
$COLOR-WHITE-WHITE-WHITE: #fff;
$COLOR-GREY: #a8a8a8;
$COLOR-TURQUOISE: #8ec9d2;
$COLOR-PURPLE: #a9a1ff;
$COLOR-PURPLE-DARK: #1d1f27;
$COLOR-BLUE-DARK: #2e334a;
$COLOR-RED: #bd2424;

//typography
$BASE-FONT-SIZE: 14px;