<section class="page-wrap">
    <h1>Create a new Halfsie</h1>
    <form data-ng-submit="create()" novalidate>
        <div>
            <label for="amount">Amount</label>
            <div>
                <input type="number" data-ng-model="amount" id="amount" required />
            </div>
        </div>
        <div>
            <label for="description">Description</label>
            <div>
                <textarea data-ng-model="description" id="description" cols="30" rows="10" required ></textarea>
            </div>
        </div>
        <div class="alert alert__error icon-alert-error" data-ng-show="error">
            <strong data-ng-bind="error"></strong>
        </div>
        <div>
            <input type="submit" value="Submit" data-pending-value="" />
            <a href="/#!/" class="btn btn--alt">Cancel</a>
        </div>
    </form>
</section>