<section class="balance" data-ng-controller="balance" data-ng-show="balance">
    <div class="page-wrap">
        <div class="balance__circle" data-ng-class="{active: !balance.owedPrimary}">
            <div class="balance__circle-content">
                <div class="icon icon-balance-skull"></div>
                <div class="dollar-icon">$</div>
                <div class="number">{{ balance.owedPrimary }}</div>
                <div class="user">{{ balance.userPrimary }}</div>
            </div>
            <div class="balance__circle-highlight"><div></div></div>
        </div>
        <div class="balance__vs">
            <h1>Vs</h1>
        </div>
        <div class="balance__circle" data-ng-class="{active: !balance.owedSecondary}">
            <div class="balance__circle-content">
                <div class="icon icon-balance-sheep"></div>
                <div class="dollar-icon">$</div>
                <div class="number">{{ balance.owedSecondary }}</div>
                <div class="user">{{ balance.userSecondary }}</div>
            </div>
            <div class="balance__circle-highlight"><div></div></div>
        </div>
    </div>
</section>
<div class="page-wrap">
    <a href="/#!/log/create" class="btn">Create a halfsie</a>

    <ul data-ng-controller="logList" class="log-list" data-ng-show="logs">
        <li data-ng-repeat="log in logs" data-ng-class="{negative: currentUser !== log.user}">
            <span>{{ log.amount }}</span>
            <span>{{ log.description }}</span>
            <span>{{ log.user }}</span>
        </li>
        <span ng-show="(logs).length == 0">No purchase log yet.</span>
        <div data-ng-show="error">
            <strong data-ng-bind="error"></strong>
        </div>
    </ul>
</div>