$image-path: '/images/';

$size-desktop-small: 1500px;
$size-tablet: 768px;
$size-mobile: 600px;

//colors
$color-white: #b7b8bf;
$color-white-white: #dedede;
$color-white-white-white: #fff;
$color-grey: #a8a8a8;
$color-turquoise: #8ec9d2;
$color-purple: #a9a1ff;
$color-purple-dark: #1d1f27;
$color-blue-dark: #2e334a;
$color-red: #bd2424;
$color-green: #2c7f26;

//typography
$base-font-size: 14px;

$color-transparent-black: rgba(0, 0, 0, .1);
