.alert {

    padding: 10px 10px 10px 35px;
    color: $COLOR-WHITE-WHITE;
    background-position: 10px 50%;
    text-transform: uppercase;
    font-size: rem(12px);
    letter-spacing: 2px;

    &__error {
        background-color: $COLOR-RED;
    }
}