.balance {
    margin-bottom: 30px;
    padding: 30px 0;
    background: $COLOR-PURPLE-DARK;
    text-align: center;

    &__circle {
        width: 200px;
        height: 200px;
        display: inline-block;
        background: $COLOR-WHITE-WHITE-WHITE;
        border-radius: 50%;
        position: relative;
        top: 0;

        @include breakpoint($SIZE_TABLET) {
            &:first-child {
                margin-right: 5%;
            }
        }

        @include breakpoint($SIZE_MOBILE) {
            width: 125px;
            height: 125px;
        }
    }

    &__circle-content {
        position: relative;
        top: 0;
        z-index: 2;
        color: $COLOR-PURPLE-DARK;

        .icon {
            height: 100px;
            width: 100px;
            margin-left: -50px;
            display: none;
            position: absolute;
            top: 30px;
            left: 50%;
            background-size: 100%;

            .active & {
                display: block;
            }

            @include breakpoint($SIZE_MOBILE) {
                top: 23px;
                height: 66px;
                width: 66px;
                margin-left: -33px;
            }
        }

        .dollar-icon {
            height: 0;
            position: relative;
            top: 20px;
            font-size: rem(30px);
            color: $COLOR-WHITE-WHITE-WHITE;
          
            @include breakpoint($SIZE_MOBILE) {
                top: 15px;
                font-size: rem(18px);
            }

            .active & {
                display: none;
            }
        }

        .number {
            height: 0;
            position: relative;
            top: 90px;
            font-size: rem(65px);

            @include breakpoint($SIZE_MOBILE) {
                top: 60px;
                font-size: rem(40px);
            }

            .active & {
                display: none;
            }
        }

        .user {
            position: relative;
            top: 160px;

            @include breakpoint($SIZE_MOBILE) {
                top: 100px;
            }
        }
    }

    &__vs {
        margin: 0 5%;
        padding-top: 80px;
        display: inline-block;
        vertical-align: top;

        @include breakpoint($SIZE_TABLET) {
            display: none;
        }
    }

    &__circle-highlight {
        height: 50px;
        padding: 10px;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        z-index: 1;

        @include breakpoint($SIZE_MOBILE) {
            height: 35px;
        }

        .active & {
            height: 150px;

            @include breakpoint($SIZE_MOBILE) {
                height: 100px;
            }
        }

        div {
            width: 180px;
            height: 180px;
            display: inline-block;
            background: $COLOR-PURPLE-DARK;
            border-radius: 50%;

            @include breakpoint($SIZE_MOBILE) {
                width: 105px;
                height: 105px;
            }
        }
    }
}