input, textarea {
    width: 100%;
    margin: 0 0 20px 0;
    padding: 10px;
    color: $COLOR-BLUE-DARK;
    box-shadow: inset 5px 5px 5px 2px rgba(0,0,0,0.1);
    background: $COLOR-WHITE-WHITE;
    border: none;
    border-radius: 0;

    &:focus {
        outline: 0;
    }

    &[type="submit"] {
        margin-top: 20px;
        padding: 15px 10px;
        background: $COLOR-PURPLE no-repeat 50% 50%;
        box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.1);
        text-transform: uppercase;
        cursor: pointer;
        -webkit-appearance: none;
        border-radius: 0;

        &.pending {
            background-image: image-url("svg/pending.svg");
            cursor: default;
        }
    }
}

textarea {
    height: 150px;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 5px 5px 5px 2px rgba(0,0,0,0.1), inset 0 0 0 50px $COLOR-WHITE-WHITE;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}