header {
    margin-bottom: 30px;
    text-align: right;

    @extend %clearfix;

    .icon-logo {
        width: 25px;
        height: 25px;
        background-size: 100%;
        float: left;
    }

    .username {
        padding-top: 0px;
    }
}
