.log-list {
    li {
        margin-bottom: 5px;
        padding: 10px;
        background: $COLOR_PURPLE_DARK;

        &.negative {
            span:nth-child(1) {
                color: $COLOR-RED;
            }
        }

        span {
            display: inline-block;

            &:nth-child(1) {
                width: 6%;
                padding: 0 5px 0 0;
                font-size: rem(20px);
                border-right: 3px solid $COLOR-BLUE-DARK;
                text-shadow: 1px 1px $COLOR-BLUE-DARK;
                color: $COLOR-GREEN;

                @include breakpoint($SIZE_DESKTOP_SMALL) {
                    width: 12%;
                }

                @include breakpoint($SIZE_TABLET) {
                    width: 15%;
                }

                @include breakpoint($SIZE_MOBILE) {
                    width: 20%;
                    font-size: rem(16px);
                }

                &:before {
                    position: relative;
                    top: -5px;
                    left: -1px;
                    content: "$";
                    font-size: rem(12px);
                }
            }

            &:nth-child(2) {
                width: 87%;
                padding: 0 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                position: relative;
                top: 5px;

                @include breakpoint($SIZE_DESKTOP_SMALL) {
                    width: 77%;
                }

                @include breakpoint($SIZE_TABLET) {
                    width: 74%;
                    top: 7px;
                }
            }

            &:nth-child(3) {
                width: 5%;
                float: right;
                border-left: 3px solid $COLOR-BLUE-DARK;
                text-align: right;

                @include breakpoint($SIZE_DESKTOP_SMALL) {
                    width: 9%;
                }

                @include breakpoint($SIZE_TABLET) {
                    width: 10%;
                }

                @include breakpoint($SIZE_MOBILE) {
                    display: none;
                }
            }
        }
    }
}