//Add this to head: <link href='http://fonts.googleapis.com/css?family=Ovo|Muli' rel='stylesheet' type='text/css'>>

@function rem($size) {
  $remSize: $size / $BASE-FONT-SIZE;
  @return #{$remSize}rem;
}

body {
    font-family: 'Muli', sans-serif;
    line-height: rem(21px);
    color: $COLOR-WHITE;
}

html {
    font-size: $BASE-FONT-SIZE;
}

input, select, textarea, button{
    font-family:inherit;
    font-size: inherit;
    line-height: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ovo', serif;
    color: $COLOR-TURQUOISE;
    margin: 0 0 10px 0;
}

h1 {
    font-size: rem(36px);
    line-height: rem(40px);
    font-weight: 600;
    letter-spacing: rem(-0.7px);
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    font-size: rem(20px);
    line-height: rem(26px);
    font-weight: 600;
    letter-spacing: rem(-0.7px);
}

p {
    margin: 0 0 15px 0;
    padding: 0;
    font-size: rem(14px);
    line-height: rem(22px);
}

a {
    text-decoration: none;
    cursor: pointer;
    color: $COLOR-BLUE-DARK;
    background: $COLOR-WHITE;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

hr {
    height: 1px;
    margin-bottom: 20px;
    border: 0;
}