<div class="page-wrap">
    <section data-ng-app="halfsies">
        <header>
            <div class="icon-logo"></div>
            {{userName}}
        </header>
        <section ng-view></section>
    </section>
</div>