<section data-ng-app="halfsies">
    <header>
        <div class="page-wrap">
            <div class="icon-logo"></div>
            <div class="username">{{userName}}</div>
        </div>
    </header>
    <section ng-view></section>
</section>