.alert {
    padding: 10px 10px 10px 35px;
    background-position: 10px 50%;
    color: $color-white-white;
    font-size: rem(12px);
    letter-spacing: 2px;
    text-transform: uppercase;

    &__error {
        background-color: $color-red;
    }
}
