header {
    @extend %clearfix;

    margin-bottom: 30px;
    text-align: right;

    .icon-logo {
        width: 25px;
        height: 25px;
        float: left;
        background-size: 100%;
    }

    .username {
        padding-top: 0;
    }
}
