@import url('//fonts.googleapis.com/css?family=Ovo|Muli');

body {
    color: $color-white;
    font-family: 'Muli', sans-serif;
    line-height: rem(21px);
}

html {
    font-size: $base-font-size;
}

input, select, textarea, button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 10px;
    color: $color-turquoise;
    font-family: 'Ovo', serif;
}

h1 {
    margin-bottom: 30px;
    font-size: rem(36px);
    font-weight: 600;
    letter-spacing: rem(-.7px);
    line-height: rem(40px);
    text-align: center;

    @include breakpoint($size-mobile) {
        font-size: rem(26px);
        line-height: rem(30px);
    }
}

h2 {
    font-size: rem(20px);
    font-weight: 600;
    letter-spacing: rem(-.7px);
    line-height: rem(26px);
}

p {
    margin: 0 0 15px;
    padding: 0;
    font-size: rem(14px);
    line-height: rem(22px);
}

a {
    background: $color-white;
    color: $color-blue-dark;
    text-decoration: none;
    cursor: pointer;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

hr {
    height: 1px;
    margin-bottom: 20px;
    border: 0;
}
